.app {
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 900px; */


}


.search {
  padding: 10px;
  font-size: 20px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}


table {
  width: 100%;
  margin: auto;

  border-spacing: 15px;
  color: #444;  
}

th,
td {
  width: 250px;
  font-size: 20px;

  text-align: center;
  vertical-align: middle;  
}
img{
  width: 100%;
}